div#mindworksMap{
    display: flex;
    flex-direction: row;
    height: 440px;
    width : 1070px;
    margin-right: 100px;
    margin: 50px 20px 20px 80px;
    border-radius: 185px 0px 0px 0px;
    border : 3px solid #8d8d8d;
}
 /* 54ebd2 */
