#listReport .lineReport1{
    width: 100%;
    max-width: 480px;
    display: flex;
    justify-items: center;   
    justify-content: space-between;
    flex-direction: row;
}

#listReport .lineReport2{
    width: 100%;
    max-width: 480px;
    display: flex;
    margin-left: -30px;
    justify-content: space-between;
    justify-items: center;
    flex-direction: row;
}

#listReport .lineReport3{
    width: 100%;
    max-width: 480px;
    display: flex;
    margin-left: 10%;
    justify-content: space-between;
    justify-items: center;
    flex-direction: row;
}
