div#assetList .assetBox{
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #dadada;
    border-radius: 8px;
    padding: 7px;
    display: flex;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background:  #990000;
}

div#assetList .assetBox img{
    width: 10%;
    margin : auto 20px;
}

div#assetList .assetBox .assetDescription{
    margin : auto 60px;
    font-family: Arial, Helvetica, sans-serif;
}

div#assetList .assetBox .assetDescription #assetHeader p{
    font-weight: bold;
    display: inline;
}

div#assetList .assetBox .assetDescription #assetHeader span{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 240px;
    justify-content: space-between;
    justify-items: center;
    color : red;
}

div#assetList .assetBox .assetDescription p{
    display: flex;
    flex-direction: column;
}