.user-form{
    display: flex;
    justify-content: center;
    
}
.main-paper{
    display: flex;
    padding: 20px;
    width : 420px;
    height : 400px;
}
form .elements{
    justify-content: space-between;
    margin: 10px;
}

form .elements-formControl{
    justify-content: space-between;
    margin: 10px;
    min-width: 170px;
}

form .header{
    display: flex;
    justify-content: center;
}

form .action-footer{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
    margin-top: 20px;
}

/* form#SignUpForm label{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

form#SignUpForm .companyInput{
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

form#SignUpForm input{
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

form#SignUpForm select{
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;   
}

form#SignUpForm button{
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 5px; 
    background: #2C82C9;
    color : #fafafa;
    font-weight: bold;
    font-size: 14px;
} */